@import "src/const.scss";
/* You can add global styles to this file, and also import other style files */

input[type=text], input[type=password],textarea{                 
    border: 1px solid #ccc;                 
    padding: 0.5rem;         
    border-radius: 3px;                  
    border-color: #d9d9d9;
    font-size: 1.08em;            
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);                 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);                 
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;                 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;                 
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s             
}             
input[type=text]:focus, input[type=password]:focus, textarea:focus{                     
    border-color: #66afe9;                     
    outline: 0;                     
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);                     
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)             
}

/* placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #bfbfbf;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bfbfbf;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #bfbfbf;
}   

.round-shadow{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 2, 4, 0.5);
    overflow: hidden;
}

cdz-status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

nz-pagination{
    margin: 1rem;
    text-align: center;
}