@import "src/const.scss";
/* You can add global styles to this file, and also import other style files */

.row-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.column-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.round-shadow{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 2, 4, 0.5);
    overflow: hidden;
}
